{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
    {"linux", compile, "bash -c 'cd native/b64rs && cargo build --release && mkdir -p ../../priv && cp target/release/libb64rs.so ../../priv/b64rs.so'"},
    {"darwin", compile, "bash -c 'cd native/b64rs && cargo build --release && mkdir -p ../../priv && cp target/release/libb64rs.dylib ../../priv/b64rs.so'"}
]}.
